body {
  margin: 0;
  padding: 0;
  background-color: #201c41;
  font-family: sans-serif;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
  text-align: center;
  margin: 40px;
}

.phaser-container {
  width: 624px;
  height: 624px;
  margin: auto;
  display: block;
}
